.navlink {
  gap: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  text-decoration: none;
  color: var(--black-color);
  font-weight: 700;
}

.explore-links-div {
  gap: 0.5rem;
}

.aside-div {
  gap: 1rem;
  padding: 1rem;
  width: max-content;
  min-width: 10rem;
  margin-top: 3rem;
}
